##############################
# Local / personal files
##############################
notes.txt
.env
.env.*

##############################
# Python (if used)
##############################
__pycache__/
*.pyc
venv/
dist/
dist_installer/
*.spec


# Gradle
.gradle/
build/
**/*.build/

# Local config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Android artifacts
*.apk
*.ap_
*.aab
*.dex

# Signing files
*.jks
*.keystore
keystore.properties

# Google services
google-services.json

# NDK / CMake
.externalNativeBuild/
.cxx/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
